{% extends "base.html" %}
{% block title %}Legal Lorem Ipsum{% endblock %}
{% block head %}<h1>Legal Ipsum</h1>{% endblock %}
{% block body %}
  <p">Please see the License terms as they do provide such support for this service if you were not
      explicitly requested by the laws of the Package or providing support for the Work along with the Program. Each
      Contributor represents that, except as expressly stated in Sections 2(a) and 2(b) above, Recipient receives no
      rights or otherwise. As a condition to, the licenses granted in Sections 2(a) and 2(b) above, Recipient receives
      no rights or otherwise.</p>

  <p>All rights in its entirety, is protected by Dutch copyright law. This License and distribute the Program under
      this Agreement shall be held by the copyright owner that is based on (or derived from) the Work along with the
      Derived Program. Other matters not specified above shall be deemed a waiver of future enforcement of that work
      may be required by applicable law or agreed to in writing, shall any Contributor to enforce any provision of
      this License with every copy of the Program.</p>

  <p>Program" means the Original Program. The Recipient may not be used in advertising or publicity pertaining to
      distribution of executable or other dispute resolution between You and (ii) that cover subject matter hereof.
      This License represents the complete machine-readable source code, object code or else can get it if you
      distribute copies of the original work has the right to modify NetHack, or otherwise using this software or
      hardware) infringes such Recipient's rights granted under Section 6.1. For legal entities, "You" includes any
      entity which controls, is controlled by, or is under common control with, You, where "control" means (i) the
      Source Code file due to statute, judicial order, or regulation, such description must be included with
      each copy of this License.</p>
    
{% endblock %}





